.main-nav-lead {
  font-size: 2rem !important;
  font-weight: 400 !important;
}

.main-footer{
  background-color:slategray;
  color: white; 
  text-align: center;
  padding: 10px;
}

.main-brand-container{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.main-copyright{
  color: lightgray; 
  text-align: center;
  padding: 10px;
}

.main-btn-margins {
  margin-top: 0.25rem !important;
  margin-right: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  margin-left: 0.25rem !important;
}

