{% extends "Pedidos/empleados.html" %}
{% load static %}

{% block getEmpleados %}
<div class="container-fluid" >
    <p>Consulta de empleados.</p>
    <form action="/apppedidos/buscarEmpleados" method="GET">
        <input placeholder="Nombre" type="text" name="nombre" id="nombre">
        <!--<input class="btn btn-outline-light main-btn-margins" style="color: white; background-color: brown;" type="submit" value="Buscar">-->
        <br/>
        <button type="submit" class="btn btn-outline-light main-btn-margins" style="color: white; background-color: brown;"><i class="fa fa-search" aria-hidden="true"> </i> Buscar</button>
        <a class="btn btn-outline-light main-btn-margins" href="{% url 'Empleados' %}" style="color: white; background-color: brown;"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
    </form>
    
    {% if empleados %}
        {% for  empleado in empleados %}
            <li> {{empleado.nombre}} </li>
            <li> {{empleado.apellido}} </li>
            <li> {{empleado.email}} </li>
            <li> {{empleado.cargo}} </li>
        {% endfor %}
    {% endif %}

<!--     <nav class="nav nav-pills lead" style="color: black;">
        <a class="btn btn-outline-light main-btn-margins" href="{% url 'Empleados' %}" style="color: white; background-color: brown;"><i class="fa fa-times" aria-hidden="true"></i> Close</a>
    </nav> -->

</div>
{% endblock %}
