{% extends "Pedidos/clientes.html" %}
{% load static %}

{% block setClientes %}
<div>
    <p>Alta de clientes.</p>
    
    <form action="/apppedidos/setClientes/" method="post"> {% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>
        <button type="submit" class="btn btn-outline-light main-btn-margins" style="color: white; background-color: brown;"><i class="fa fa-search" aria-hidden="true"> </i> Enviar</button>
        <a class="btn btn-outline-light main-btn-margins" href="{% url 'Clientes' %}" style="color: white; background-color: brown;"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
    </form>
       
<!--     <nav class="nav nav-pills lead" style="color: black;">
        <a class="btn btn-outline-light main-btn-margins" href="{% url 'Clientes' %}" style="color: white; background-color: brown;"><i class="fa fa-times" aria-hidden="true"></i> Close</a>
    </nav> -->
    
</div>
{% endblock %}
