{% extends "Pedidos/pedidos.html" %}
{% load static %}

{% block setPedidos %}
<div>
    <p>Alta de Pedidos.</p>
    <form action="/apppedidos/setPedidos/" method="post"> {% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>
        <!--<input type = "submit" value="Enviar">-->
        <button type="submit" class="btn btn-outline-light main-btn-margins" style="color: white; background-color: brown;"><i class="fa fa-search" aria-hidden="true"> </i> Enviar</button>
        <a class="btn btn-outline-light main-btn-margins" href="{% url 'Pedidos' %}" style="color: white; background-color: brown;"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
    </form>
       
</div>
{% endblock %}
